@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.App {
  width: 95%;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: poppins;
}

.title {
  font-weight: 700;
}

.slider {
  width: 100%;
}

.lables {
  display: flex;
  justify-content: space-between;
}

.tenureContainer {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.tenure {
  width: 15%;
  height: 50px;
  border: none;
  border-radius: 100px;
  background-color: rgb(226, 226, 226);
}

.selected {
  background-color: #009ad6;
  color: white;
}